version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pr_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pr_review
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pr_review"]
      interval: 2s
      timeout: 3s
      retries: 20

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pr_service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      HTTP_PORT: 8080
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: pr_review
    ports:
      - "8080:8080"
    restart: always

volumes:
  pgdata: